### ML Data pre-processing
This notebook is for loading and cleaning the data that will be used to train the ML on.
Things like patient heart rate and blood pressure readings that occurred around the time of the administration of the second dose 

It should persist the data into the "out" directory to be consumed by the ml training notebook

In [4]:
from detectdd.auth_bigquery import BigQueryClient
from detectdd.serializer import Serializer
try:
    cohort = Serializer().read_cohort() # need to run 01-cohort.ipynb to produce the cohort
except FileNotFoundError:
    raise Exception("Need to run [01-cohort.ipynb] at least once to create the cohort file in the /out directory")
    
big_query = BigQueryClient.auth()
cohort

Loaded cohort
<google.oauth2.credentials.Credentials object at 0x0000020B8AE67390> mimic-iv-desktop

      subject_id   stay_id  itemid  itemid_1          dose2_time  f0_
0       11980812  34036698  225850    227533 2155-12-11 17:30:00    4
1       16337817  37122552  225884    227533 2177-08-04 15:50:00    5
2       14789655  34831657  225884    227533 2152-08-21 23:00:00    4
3       17410025  30645946  225859    227533 2187-08-25 13:50:00   23
4       17410025  30645946  225850    227533 2187-08-25 13:50:00    6
...          ...       ...     ...       ...                 ...  ...
6574    15436319  36502055  225869    227533 2125-12-08 09:30:00   15
6575    18756985  30006983  225869    227533 2159-11-16 06:45:00    6
6576    12974332  30720284  225884    227533 2130-12-21 11:55:00   14
6577    12974332  30720284  225869    227533 2130-12-21 11:55:00    3
6578    17011771  31191820  225884    227533 2177-07-22 19:45:00    1

[6579 rows x 6 columns]

In [ ]:
## TODO query